rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Teams and their subcollections
    match /teams/{teamId} {
      allow read: if true;

      match /roster/{player} {
        allow read: if true;
      }
    }

    // Allow collection group query for roster
    match /{path=**}/roster/{player} {
      allow read: if true;
    }

    match /games/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
